.iframeContainer {
  padding: 20px;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 80px;
}

p {
  padding: 10px;
}